h1 {
background-color: #4aaaa5;
border-color: #cccccc;
font-family: Georgia, 'Times New Roman', Times, serif;

}

p {
    font: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 20%;
    width: 20%
}

#header {
background: #4aaaa5;
font-family: Georgia, 'Times New Roman', Times, serif;
z-index: 99;
margin: 0 0 30px;
overflow: auto;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    padding-top: 30px;
    font-size: 25px;
    
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    display: inline-block;
    padding-left: 50px;
    margin-left: 50px;
    color: #777777;
    background-color: white;
}

a {
    color: white;
}

#left {
    float: left;
    text-decoration: underline;
}

#right {
    float: right;
}
.boxed {
    border: 1 px #777777;
    
}
.footer {
    border-top: 8px solid #4aaaa5;
    border-color: #666666;
    height: 50px;
}